

body {
    background-color: rgb(243, 223, 242);
    

}
.clas {
    text-align: center;
}


.sec {
    text-align: center;
}  

.pic {
    width: 200px;
    padding: 10px; 
    float: right;
    margin-bottom: 2rem;

}

