body {
    background-color: azure;

}
.clas {
    text-align: center;
}
.grid {
    display: grid;
    grid-template-columns: repeat(3,1fr);
    width: 100%;
    text-align: center;
    margin-top: 50px;
    }

.sec {
    text-align: center;
}    