

body {
    background-color: rgb(243, 223, 242);
    
font-family:Georgia, 'Times New Roman', Times, serif;
}
.clas {
    text-align: center;
}


.sec {
    text-align: center;
}  

.pic {
    width: 200px;
    padding: 10px; 
    float: right;
    margin-bottom: 2rem;

}

#cards {
    
        display: grid;
        grid-template-columns: repeat(3,1fr);
        width: 100%;
        text-align: center;
        margin-top: 20px;
        margin-left: 50px;
        }

